version: "3.9"
services:
  backend:
    build:
      context: {{ build_context_dir }}
    privileged: true
    ports:
      - "30081"
      - "30084"
    volumes:
      - {{ flyte_workflows_source_dir }}:/flyteorg/src
      - {{ kustomization_file_path }}:/opt/flyteorg/share/deployment/kustomization.yaml:ro
