name: build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install dependencies
      run: make setup
    - name: test
      # https://github.com/actions/runner/issues/241#issuecomment-577360161
      shell: 'script -q -e -c "bash {0}"'
      run: |
        coverage run -m pytest tests --proto-path=tests/integration/mock_flyte_repo/workfflows/_pb_output/* -vv -s --trace-config
    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
